$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: #00DDCF;


body {
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  background-color: $backgroundcolor;
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-bar {
  margin-bottom: 20px;

  input {
    font-size: 1.5em;
    border-radius: .25em;
  }

}


#video-section {
  display: flex;

  li {
    list-style: none;
    cursor: pointer;
    display: flex;
    width: 25vw;
    padding: 10px;
  }
  li:hover {
    background: darken( $backgroundcolor, 10% );
  }

  #video_title {
    font-size: 2em;
    font-weight: bold;
    color: white;
  }

  #video_desc {
    color: darken(white, 10%);
  }

  .video-detail {
    background-color: darken($backgroundcolor, 30%);
    padding: 1.5em;
    border-radius: 5px;
  }

}
